# Date Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised.

**Objectives**
* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* List of open source tools in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. TensorFlow
4. PyTorch

| Data Science Tools |
| ------ |
| RStudio |
| Jupyter Notebook |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [50]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [58]:
# 200 minutes into hours
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Samar Jyoti Baishya